@media print {
  .noprint {
    display:none;
  }
}

@media (min-width:320px) {
  .container {
    width: 320px;
  }
}
@media (min-width:480px) {
  .container {
    width: 480px;
  }
}
@media (min-width:600px) {
  .container {
    width: 600px;
  }
}
@media (min-width:801px) {
  .container {
    width: 801px;
  }
}
@media (min-width:1025px) {
  .container {
    width: 1025px;
  }
}
@media (min-width:1281px) {
  .container {
    width: 1281px;
  }
}

.container {
   width: 50%;
   margin-left: 25%;
}

.logo {
  width:100px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  font-size: 21px;
}

.top {
  height: 50px;
  width: 100%;
}

.login {
  float: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.review_value0 {
  color: grey;
}

.review_value1 {
  color: green;
}

.review_value-1 {
  color: red;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #000000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.PullRequestSummary {
  font-size: 16pt;
  padding: 8px;
}
