<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>democratic collaboration</title>
  <meta name="author" content="Tobias Wilken">
  <meta name="description" content="Community driven pull request automerge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/bootstrap-social-gh-pages/bootstrap-social.css">
  <style>
  .review_value0 {
    color: grey;
  }

  .review_value1 {
    color: green;
  }

  .review_value-1 {
    color: red;
  }
  </style>
</head>

<body>
<h1>{{ repository }}/{{ project }} {{ title }} <span style="color: grey;">#{{ pull_request_number }}</span></h1>
<h2>Stats</h2>
<table style="width: 50%; float: left">
  <tr><td>commits:</td><td>{{ commits }}</td></tr>
  <tr><td>votes:</td><td>{{ votes }}</td></tr>
  <tr><td>votes_total:</td><td>{{ votes_total }}</td></tr>
  <tr><td>coefficient:</td><td>{{ coefficient }}</td></tr>
  <tr><td>age:</td><td>{{ age }}</td></tr>
</table>

<h2>Last action</h2>
<table style="width: 50%">
  <tr><td>unlabel_date:</td><td>{{ unlabel_date }}</td></tr>
  <tr><td>push_date:</td><td>{{ push_date }}</td></tr>
  <tr><td>commit_date:</td><td>{{ commit_date }}</td></tr>
  <tr><td>pull_request_date:</td><td>{{ pull_request_date }}</td></tr>
  <tr><td><hr/></td><td><hr/></td></tr>
  <tr><td>max_date:</td><td>{{ max_date }}</td></tr>
</table>

<h2>Contributors</h2>
<table style="width: 50%; float: left">
    <tr><td><b>name</b></td><td>commits</td><td>merge boost</td></tr>
    {% for contributor in contributors | sort(reverse=True) %}
    <tr class="review_value{{ contributor['review_value'] }}">
      <td>{{ contributor['name'] }}</td>
      <td>{{ contributor['commits'] }}</td>
      <td>{{ contributor['time_value'] }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Dates</h2>
<table>
  <tr><td>Total merge days</td><td>{{ total_merge_time }}</td></tr>
  <tr><td>Reduce dued to coefficient</td><td>{{ merge_duration }}</td></tr>
  <tr><td>Countdown</td><td>{{ days_to_merge }}</td></tr>
  <tr><td>Merge Date</td><td>{{ merge_date }}</td></tr>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>
