<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="secondary">
  <span><md-icon>code</md-icon> {{ title }}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-fill-remaining-space"></span>

  <span *ngIf="userPromise | async as user; else signInBlock">
      <h1>{{ user.login }}</h1>
  </span>
  <ng-template #signInBlock>
      <span><a md-raised-button color="accent" href="{{ sign_in_url }}">
          <md-icon>lock_open</md-icon> Sign in with Github
      </a></span>
  </ng-template>
</md-toolbar>
<router-outlet></router-outlet>
